---
---

@import "{{ site.theme }}";

/* 3-column responsive grid */
@media screen and (max-width: 768px) {
  div[style*="grid-template-columns"] {
    grid-template-columns: 1fr !important;
  }
}

/* Better spacing */
body {
  line-height: 1.6;
}

h2 {
  margin-top: 30px;
  border-bottom: 2px solid #eee;
  padding-bottom: 5px;
}

h3 {
  margin-top: 0;
  font-size: 1.1em;
}

/* Links */
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}